/* Portfolio.module.css */
.h2 {
  text-align: center;
}

.section {
  display: flex;
  flex-wrap: wrap;

}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}